<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!--MAIN HEADER-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!--RIGHT SIDE DIV-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/fall.jpg" alt="fall" class="img-fluid" title="priya tech">
                        </figure>

                    </div>

                    <!--LEFT SIDE DIV-->
                    <div class="col-md-6 col-12 main_header_left">
                        <P>Welcome to weather app</P>
                        <h1>I am A  <span class="text_clr"> Mern Stack Developer </span> Competitive Coder and A FreeLancer</h1>
                        <a href="https://priya-kumari-chourasia.github.io/Project2/" target="_blank"><button>About Me</button></a>

                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <!--FOOTER CODE-->
   {{>footer}}
</body>
</html>